footer{
  padding: 30px 0;
  background-color: $headerBackgroundColor;
}

.footer-container{
  @extend %container;
  background-color: $headerBackgroundColor;
  overflow: hidden;

}

.contacts{
  overflow: hidden;
  font-size: 30px;
  color: black;
  font-family: $Roboto;
  ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    li{
      overflow: hidden;
      span{
        font-weight: bold;
      }
    }
  }

  p{
    font-weight: bold;
    overflow: hidden;
  }
  a{
    color: black;
    text-decoration: underline;
  }
}

