$mainContainerColor: #FFB928;

$mainBodyColor: #FFC140;

$mainTextColor: #000000;

$headerBackgroundColor: #EE9D00;

$tablet: 954px;

%container{
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin: 0 auto;
  background-color: $mainContainerColor;

  .block{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    column-gap: 50px;
    row-gap: 15px;


    &.two-img{
      flex-direction: column;

      .img-block{
        display: flex;
        justify-content: space-between;
        column-gap: 20px;

        img{
          width: 49%;
          min-width: 230px;
          border-radius: 20px;
        }
      }
    }
    
    &.one-img{
      flex-direction: column;

      .img-block{
        display: flex;
        justify-content: center;
        column-gap: 20px;

        img{
          width: 49%;
          min-width: 230px;
          border-radius: 20px;
        }
      }
    }

    .text{
      font-family: $Roboto;
      font-size: 25px;
      line-height: 35px;
      overflow: hidden;
    }

    .text-block{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    [class*="img-small"]{
      max-width: 100%;
      background-position: center;
      border-radius: 10px;

      &.right{
        float: right;
        margin: 0 0 10px 10px;
      }

      &.left{
        float: left;
        margin: 0 10px 0 10px;
      }
    }

    [class*="img-large"]{
      max-width: 589px;
      max-height: 491px;
    }
  }
}